# Master panel backend base URL
NEXT_PUBLIC_MASTER_PANEL_URL=http://localhost:4000

# Site code exactly same as backend Site.code
NEXT_PUBLIC_SITE_CODE=listing_next_main

# Toggle remote feed integration
NEXT_PUBLIC_USE_REMOTE_FEED=true
